@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #222;
  text-decoration: none; }

a:hover {
  color: #2698cb; }

/* container */
.container {
  width: 1200px;
  margin: 0 auto; }

/* layout */
#header {
  background-image: url(img/header_bg.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  /* header */ }
  #header .header {
    height: 350px; }
    #header .header .header_menu {
      text-align: right;
      font-family: 'Abel', sans-serif; }
      #header .header .header_menu a {
        display: inline-block;
        color: #fff;
        padding: 8px 0 6px 10px;
        font-weight: bold;
        transition: 0.3s ease; }
        #header .header .header_menu a:hover {
          color: #ccc; }
    #header .header .header_title {
      text-align: center;
      text-transform: uppercase;
      margin-top: 55px; }
      #header .header .header_title h1 {
        font-size: 30px;
        opacity: 0.7;
        background-color: beige;
        display: inline-block;
        /* 배경색을 텍스트 크기에 맞추기 위해 */
        padding: 15px 30px;
        letter-spacing: 2px;
        font-weight: 900;
        transition: box-shadow 0.25s ease-in-out; }
        #header .header .header_title h1:hover {
          box-shadow: inset -9em 0 0 0 #257fac, inset 9em 0 0 0 #257fac; }
      #header .header .header_title a {
        font-size: 16px;
        opacity: 0.7;
        background-color: antiquewhite;
        display: inline-block;
        padding: 10px 20px;
        margin-top: -9px;
        margin-bottom: 20px;
        font-weight: bold;
        transition: box-shadow 0.25s ease-in-out; }
        #header .header .header_title a:hover {
          box-shadow: 0 0 0 5px rgba(75, 154, 191, 0.9) inset, 0 0 0 100px rgba(0, 0, 0, 0.1) inset; }
    #header .header .header_icon {
      text-align: center;
      margin-top: 40px;
      padding-bottom: 45px; }
      #header .header .header_icon li {
        display: inline;
        margin: 0 2px; }
        #header .header .header_icon li a {
          position: relative;
          display: inline-block;
          background-color: antiquewhite;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          font-size: 35px;
          line-height: 60px; }
          #header .header .header_icon li a:hover span {
            opacity: 1;
            top: -33px; }
          #header .header .header_icon li a span {
            position: absolute;
            left: 50%;
            top: -40px;
            transform: translateX(-50%);
            font-size: 12px;
            line-height: 1.6;
            background-color: aliceblue;
            padding: 3px 9px;
            border-radius: 6px 0;
            opacity: 0;
            transition: all 0.3s ease;
            /* 화살표 만드는 방법 */ }
            #header .header .header_icon li a span:before {
              content: '';
              position: absolute;
              left: 50%;
              bottom: -5px;
              margin-left: -5px;
              border-top: 5px solid aliceblue;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent; }

/* media */
@media (max-width: 1220px) {
  .container {
    width: 100%; }
    .container .row {
      padding: 0 15px; } }
