@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #222;
  text-decoration: none; }

a:hover {
  color: #2698cb; }

/* IR 효과 */
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px; }

/* 의미있는 이미지의 대체 텍스트를 제공하는 경우(Phark Method) */
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%; }

/* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때(WA IR) */
.ir_su {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px; }

/* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
* {
  box-sizing: border-box; }

body::-webkit-scrollbar {
  display: none; }

/* container */
.container {
  position: relative;
  width: 1200px;
  margin: 0 auto; }

/* layout */
#header {
  background-image: url(img/header_bg.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  /* header */ }
  #header .header {
    height: 350px; }
    #header .header .header_menu {
      text-align: right;
      font-family: 'Abel', sans-serif; }
      #header .header .header_menu a {
        display: inline-block;
        color: #fff;
        padding: 8px 0 6px 10px;
        font-weight: bold;
        transition: 0.3s ease; }
        #header .header .header_menu a:hover {
          color: #ccc; }
    #header .header .header_title {
      text-align: center;
      text-transform: uppercase;
      margin-top: 55px; }
      #header .header .header_title h1 {
        font-size: 30px;
        opacity: 0.7;
        background-color: beige;
        display: inline-block;
        /* 배경색을 텍스트 크기에 맞추기 위해 */
        padding: 15px 30px;
        letter-spacing: 2px;
        font-weight: 900;
        transition: box-shadow 0.25s ease-in-out; }
        #header .header .header_title h1:hover {
          box-shadow: inset -9em 0 0 0 #257fac, inset 9em 0 0 0 #257fac; }
      #header .header .header_title a {
        font-size: 16px;
        opacity: 0.7;
        background-color: antiquewhite;
        display: inline-block;
        padding: 10px 20px;
        margin-top: -9px;
        margin-bottom: 20px;
        font-weight: bold;
        transition: box-shadow 0.25s ease-in-out; }
        #header .header .header_title a:hover {
          box-shadow: 0 0 0 5px rgba(75, 154, 191, 0.9) inset, 0 0 0 100px rgba(0, 0, 0, 0.1) inset; }
    #header .header .header_icon {
      text-align: center;
      margin-top: 40px;
      padding-bottom: 45px; }
      #header .header .header_icon li {
        display: inline;
        margin: 0 2px; }
        #header .header .header_icon li a {
          position: relative;
          display: inline-block;
          background-color: antiquewhite;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          font-size: 35px;
          line-height: 60px; }
          #header .header .header_icon li a:hover span {
            opacity: 1;
            top: -33px; }
          #header .header .header_icon li a span {
            position: absolute;
            left: 50%;
            top: -40px;
            transform: translateX(-50%);
            font-size: 12px;
            line-height: 1.6;
            background-color: aliceblue;
            padding: 3px 9px;
            border-radius: 6px 0;
            opacity: 0;
            transition: all 0.3s ease;
            /* 화살표 만드는 방법 */ }
            #header .header .header_icon li a span:before {
              content: '';
              position: absolute;
              left: 50%;
              bottom: -5px;
              margin-left: -5px;
              border-top: 5px solid aliceblue;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent; }

#nav {
  background-color: #f6fdff; }
  #nav .nav {
    overflow: hidden;
    padding: 25px 0; }
    #nav .nav div {
      float: left;
      width: 40%; }
      #nav .nav div:last-child {
        width: 20%; }
      #nav .nav div:last-child li {
        width: 100%;
        /* 이등분 방지 */ }
      #nav .nav div h3 {
        font-size: 18px;
        color: #25a2d0;
        font-weight: bold;
        margin-bottom: 15px; }
      #nav .nav div ol {
        overflow: hidden; }
        #nav .nav div ol li {
          float: left;
          width: 50%;
          position: relative;
          padding-left: 8px;
          margin-bottom: 4px; }
          #nav .nav div ol li:before {
            content: '';
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: #25a2d0;
            position: absolute;
            left: 0;
            top: 6px; }

#title {
  background-color: #eaf7fd;
  text-align: center; }
  #title .title {
    position: relative; }
    #title .title h2 {
      font-family: 'Nanum Brush Script', cursive;
      font-size: 40px;
      color: #0093bd;
      padding: 5px 0; }
    #title .title .btn {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      line-height: 60px;
      background: #3192bf;
      color: #fff;
      font-size: 35px;
      border-radius: 50%; }
      #title .title .btn:hover {
        box-shadow: 0 0 0 3px rgba(71, 154, 191, 0.1) inset, 0 0 0 100px rgba(0, 0, 0, 0.1) inset; }

#contents .container {
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb; }

#cont_left {
  float: left;
  width: 250px; }

#cont_center {
  overflow: hidden;
  min-height: 1300px;
  margin-right: 250px;
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb; }

#cont_right {
  /* 화면이 줄어들었을 경우 크기 변화를 오른쪽에만 주기 위해 */
  position: absolute;
  right: 0;
  top: 0;
  width: 250px; }

.column {
  padding: 15px;
  border-bottom: 1px solid #dbdbdb; }

.col3 {
  border-bottom: 0; }

.col6 {
  border-bottom: 0; }

.col9 {
  border-bottom: 0; }

#footer {
  border-top: 1px solid #dbdbdb; }

/* media */
/* 화면 너비 0 ~ 1220px */
@media screen and (max-width: 1220px) {
  .container {
    width: 100%; }
    .container .row {
      /* 화면 크기 조절 시 사이드에 딱 붙는 것을 방지 */
      padding: 0 15px; }
  .title .btn {
    right: 5px; }
  #contents .container {
    border: 0; } }

/* 화면 너비 0 ~ 1024px */
/* 화면 너비 0 ~ 960px */
@media screen and (max-width: 960px) {
  #nav .nav div {
    float: none;
    width: 100%; }
    #nav .nav div:last-child {
      width: 100%; }
    #nav .nav div:last-child li {
      width: 33.33333%;
      /* 이등분 방지 */ }
    #nav .nav div ol {
      margin-bottom: 10px; }
      #nav .nav div ol li {
        width: 33.33333%; }
  #cont_center {
    margin-right: 0;
    border-right: 0; }
  #cont_right {
    position: static;
    width: 100%;
    border-top: 1px solid #dbdbdb; } }

/* 화면 너비 0 ~ 768px */
@media screen and (max-width: 768px) {
  #cont_left {
    float: none;
    width: 100%; }
  #cont_center {
    border-left: 0; } }

/* 화면 너비 0 ~ 600px */
@media screen and (max-width: 600px) {
  #nav .nav div:last-child li {
    width: 50%;
    /* 이등분 방지 */ }
  #nav .nav div ol li {
    width: 50%; }
  #header .header {
    height: auto; }
    #header .header .header_title {
      display: none; }
    #header .header .header_icon {
      display: none; }
  #title .title .btn {
    display: none; } }

/* 화면 너비 0 ~ 480px */
/* 화면 너비 0 ~ 320px */
