@import 'reset.scss';

* {
  box-sizing: border-box;
}

/* container */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* layout */
#header {
  background-image: url(img/header_bg.jpg);
  background-repeat: repeat-x;
  background-size: cover;

  /* header */
  .header {
    height: 350px;

    .header_menu {
      text-align: right;
      font-family: 'Abel', sans-serif;

      a {
        display: inline-block;
        color: #fff;
        padding: 8px 0 6px 10px;
        font-weight: bold;
        transition: 0.3s ease;

        &:hover {
          color: #ccc;
        }
      }
    }

    .header_title {
      text-align: center;
      text-transform: uppercase;
      margin-top: 55px;

      h1 {
        font-size: 30px;
        opacity: 0.7;
        background-color: beige;
        display: inline-block; /* 배경색을 텍스트 크기에 맞추기 위해 */
        padding: 15px 30px;
        letter-spacing: 2px;
        font-weight: 900;
        transition: box-shadow 0.25s ease-in-out;

        &:hover {
          box-shadow: inset -9em 0 0 0 #257fac, inset 9em 0 0 0 #257fac;
        }
      }

      a {
        font-size: 16px;
        opacity: 0.7;
        background-color: antiquewhite;
        display: inline-block;
        padding: 10px 20px;
        margin-top: -9px;
        margin-bottom: 20px;
        font-weight: bold;
        transition: box-shadow 0.25s ease-in-out;

        &:hover {
          box-shadow: 0 0 0 5px rgba(75, 154, 191, 0.9) inset,
            0 0 0 100px rgba(0, 0, 0, 0.1) inset;
        }
      }
    }

    .header_icon {
      text-align: center;
      margin-top: 40px;
      padding-bottom: 45px;

      li {
        display: inline;
        margin: 0 2px;

        a {
          position: relative;
          display: inline-block;
          background-color: antiquewhite;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          font-size: 35px;
          line-height: 60px;

          &:hover span {
            opacity: 1;
            top: -33px;
          }

          span {
            position: absolute;
            left: 50%;
            top: -40px;
            transform: translateX(-50%);
            font-size: 12px;
            line-height: 1.6;
            background-color: aliceblue;
            padding: 3px 9px;
            border-radius: 6px 0;
            opacity: 0;
            transition: all 0.3s ease;

            /* 화살표 만드는 방법 */
            &:before {
              content: '';
              position: absolute;
              left: 50%;
              bottom: -5px;
              margin-left: -5px;
              border-top: 5px solid aliceblue;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
            }
          }
        }
      }
    }
  }
}

#nav {
  background-color: #f6fdff;
  width: 100%;

  .nav {
    overflow: hidden;
    padding: 25px 0;

    div {
      float: left;
      width: 40%;

      &:last-child {
        width: 20%;
      }

      &:last-child li {
        width: 100%; /* 이등분 방지 */
      }

      h3 {
        font-size: 18px;
        color: #25a2d0;
        font-weight: bold;
        margin-bottom: 15px;
      }

      ol {
        overflow: hidden;

        li {
          float: left;
          width: 50%;
          position: relative;
          padding-left: 8px;
          margin-bottom: 4px;

          &:before {
            content: '';
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: #25a2d0;
            position: absolute;
            left: 0;
            top: 6px;
          }
        }
      }
    }
  }
}

/* media */
@media (max-width: 1220px) {
  .container {
    width: 100%;

    .row {
      padding: 0 15px;
    }
  }
}
