@import 'reset.scss';
@import 'slick.scss';
@import 'lightgallery.scss';

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

/* container */
.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

/* layout */
#header {
  background-image: url(img/header_bg.jpg);
  background-repeat: repeat-x;
  background-size: cover;

  /* header */
  .header {
    height: 350px;

    .header_menu {
      text-align: right;
      font-family: 'Abel', sans-serif;

      a {
        display: inline-block;
        color: #fff;
        padding: 8px 0 6px 10px;
        font-weight: bold;
        transition: 0.3s ease;

        &:hover {
          color: #ccc;
        }
      }
    }

    .header_title {
      text-align: center;
      text-transform: uppercase;
      margin-top: 55px;

      h1 {
        font-size: 30px;
        opacity: 0.7;
        background-color: beige;
        display: inline-block; /* 배경색을 텍스트 크기에 맞추기 위해 */
        padding: 15px 30px;
        letter-spacing: 2px;
        font-weight: 900;
        transition: box-shadow 0.25s ease-in-out;

        &:hover {
          box-shadow: inset -9em 0 0 0 #257fac, inset 9em 0 0 0 #257fac;
        }
      }

      a {
        font-size: 16px;
        opacity: 0.7;
        background-color: antiquewhite;
        display: inline-block;
        padding: 10px 20px;
        margin-top: -9px;
        margin-bottom: 20px;
        font-weight: bold;
        transition: box-shadow 0.25s ease-in-out;

        &:hover {
          box-shadow: 0 0 0 5px rgba(75, 154, 191, 0.9) inset,
            0 0 0 100px rgba(0, 0, 0, 0.1) inset;
        }
      }
    }

    .header_icon {
      text-align: center;
      margin-top: 40px;
      padding-bottom: 45px;

      li {
        display: inline;
        margin: 0 2px;

        a {
          position: relative;
          display: inline-block;
          background-color: antiquewhite;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          font-size: 35px;
          line-height: 60px;

          &:hover span {
            opacity: 1;
            top: -33px;
          }

          span {
            position: absolute;
            left: 50%;
            top: -40px;
            transform: translateX(-50%);
            font-size: 12px;
            line-height: 1.6;
            background-color: aliceblue;
            padding: 3px 9px;
            border-radius: 6px 0;
            opacity: 0;
            transition: all 0.3s ease;

            /* 화살표 만드는 방법 */
            &:before {
              content: '';
              position: absolute;
              left: 50%;
              bottom: -5px;
              margin-left: -5px;
              border-top: 5px solid aliceblue;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
            }
          }
        }
      }
    }
  }
}

#nav {
  background-color: #f6fdff;

  .nav {
    overflow: hidden;
    padding: 25px 0;

    div {
      float: left;
      width: 40%;

      &:last-child {
        width: 20%;
      }

      &:last-child li {
        width: 100%; /* 이등분 방지 */
      }

      h3 {
        font-size: 18px;
        color: #25a2d0;
        font-weight: bold;
        margin-bottom: 15px;
      }

      ol {
        overflow: hidden;

        li {
          float: left;
          width: 50%;
          position: relative;
          padding-left: 8px;
          margin-bottom: 4px;

          &:before {
            content: '';
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: #25a2d0;
            position: absolute;
            left: 0;
            top: 6px;
          }
        }
      }
    }
  }
}

#title {
  background-color: #eaf7fd;
  text-align: center;

  .title {
    position: relative;

    h2 {
      font-family: 'Nanum Brush Script', cursive;
      font-size: 40px;
      color: #0093bd;
      padding: 5px 0;
    }

    .btn {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      line-height: 60px;
      background: #3192bf;
      color: #fff;
      font-size: 35px;
      border-radius: 50%;

      &:hover {
        box-shadow: 0 0 0 3px rgba(71, 154, 191, 0.1) inset,
          0 0 0 100px rgba(0, 0, 0, 0.1) inset;
      }
    }
  }
}

#contents .container {
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
}

#cont_left {
  float: left;
  width: 250px;
}

#cont_center {
  overflow: hidden;
  min-height: 1300px;
  margin-right: 250px;
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
}

#cont_right {
  /* 화면이 줄어들었을 경우 크기 변화를 오른쪽에만 주기 위해 */
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
}

.column {
  padding: 15px;
  border-bottom: 1px solid #dbdbdb;

  .col_title {
    font-size: 20px;
    color: #2f7fa6;
    padding-bottom: 5px;
  }

  .col_desc {
    border-bottom: 1px dashed #dbdbdb;
    padding-bottom: 15px;
    margin-bottom: 15px;
    line-height: 18px;
    color: #878787;
    font-size: 14px;
  }

  .menu {
    li {
      position: relative;

      a {
        font-size: 16px;
        text-transform: uppercase;
        color: #878787;
        border-bottom: 1px solid #dbdbdb;
        padding: 10px;
        display: block;
        transition: box-shadow 0.34s ease, background 0.34s ease;

        &:hover {
          box-shadow: inset 180px 0 0 0 rgba(36, 130, 174, 0.7);
          color: white;
          background-color: rgba(36, 130, 174, 0.9);
        }

        i {
          position: absolute;
          right: 10px;
          top: 15px;
        }
      }
    }
  }

  .notice1 {
    position: relative;

    h5 {
      font-size: 14px;
      color: #2f7fa6;
      padding-bottom: 5px;
    }

    ul {
      li {
        /* 한 줄 효과 */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 15px;
        padding-left: 8px;
        position: relative;

        &:before {
          content: '';
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: #449ce2;
          position: absolute;
          left: 0;
          top: 6px;
        }
      }
    }

    .more {
      position: absolute;
      right: 0;
      top: 3px;
      color: #878787;
      text-transform: uppercase;
      font-size: 10px;
    }
  }

  .notice2 {
    position: relative;

    h5 {
      font-size: 14px;
      color: #2f7fa6;
      padding-bottom: 5px;
    }

    ul {
      li {
        position: relative;
        padding-left: 8px;
        /* 두 줄 효과 */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* 2 -> 2줄, 3 -> 3줄 */

        &:before {
          content: '';
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: #449ce2;
          position: absolute;
          left: 0;
          top: 6px;
        }
      }
    }

    .more {
      position: absolute;
      right: 0;
      top: 3px;
      color: #878787;
      text-transform: uppercase;
      font-size: 10px;
    }
  }
}

.blog1,
.blog2 {
  img {
    width: 100%;
  }

  .img-retina {
    display: none;
  }
}

.col1 {
}

.col2 {
}

.col3 {
  border-bottom: 0;
}

.col4 {
}

.col5 {
}

.col6 {
  border-bottom: 0;
}

.col7 {
}

.col8 {
}

.col9 {
  border-bottom: 0;
}

/* 이미지 슬라이더 */
.slider {
  figure {
    position: relative;

    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-size: 18px;

      em {
        display: block;
        font-weight: bold;
        font-weight: 28px;
        text-transform: uppercase;
        font-family: 'Abel' sans-serif;
        opacity: 0;
        transition: all 0.84s ease;
        transform: translateX(50px);
      }

      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        opacity: 1;
        transition: all 0.84s 0.2 ease;
        transform: translateX(50px);
      }
    }
  }

  .slick-active {
    figcaption {
      em {
        opacity: 1;
        transform: translateX(0);
      }

      span {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .slick-dots {
    display: block;
    width: 100%;
    text-align: center;

    li {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 5px;

      button {
        display: block;
        font-size: 0;
        line-height: 0;
        width: 15px;
        height: 15px;
        cursor: pointer;
        background-color: #5dbfeb;
        border-radius: 50%;
      }
    }
  }
}

/* lightbox */
.square {
  a {
    float: left;
    width: 19%;
    margin: 0.5%;

    img {
      width: 100%;
      display: block;
    }
  }
}

.clearfix {
  &:before,
  &:after {
    display: block;
    content: '';
    line-height: 0;
  }

  &:after {
    clear: both;
  }
}

#footer {
  border-top: 1px solid #dbdbdb;
}

/* media */
/* 화면 너비 0 ~ 1220px */
@media screen and (max-width: 1220px) {
  .container {
    width: 100%;

    .row {
      /* 화면 크기 조절 시 사이드에 딱 붙는 것을 방지 */
      padding: 0 15px;
    }
  }

  .title {
    .btn {
      right: 5px;
    }
  }

  #contents .container {
    border: 0;
  }

  .square {
    a {
      width: 24%;

      &:nth-child(5n) {
        display: none;
      }
    }
  }
}

/* 화면 너비 0 ~ 1024px */
@media screen and (max-width: 1024px) {
  .square {
    a {
      width: 32.3333%;

      &:nth-child(5) {
        display: block;
      }
    }
  }
}

/* 화면 너비 0 ~ 960px */
@media screen and (max-width: 960px) {
  #nav {
    .nav {
      div {
        float: none;
        width: 100%;

        &:last-child {
          width: 100%;
        }

        &:last-child li {
          width: 33.33333%; /* 이등분 방지 */
        }

        ol {
          margin-bottom: 10px;

          li {
            width: 33.33333%;
          }
        }
      }
    }
  }

  #cont_center {
    margin-right: 0;
    border-right: 0;
  }

  #cont_right {
    position: static;
    width: 100%;
    border-top: 1px solid #dbdbdb;
  }
}

/* 화면 너비 0 ~ 768px */
@media screen and (max-width: 768px) {
  #cont_left {
    float: none;
    width: 100%;
  }

  #cont_center {
    border-left: 0;
  }
}

/* 화면 너비 0 ~ 600px */
@media screen and (max-width: 600px) {
  #nav {
    .nav {
      div {
        &:last-child li {
          width: 50%; /* 이등분 방지 */
        }

        ol {
          li {
            width: 50%;
          }
        }
      }
    }
  }

  #header {
    .header {
      height: auto;

      .header_title {
        display: none;
      }

      .header_icon {
        display: none;
      }
    }
  }

  #title {
    .title {
      .btn {
        display: none;
      }
    }
  }

  .column.col1 {
    padding: 0;
    border-bottom: 0;

    .col_title {
      display: none;
    }

    .col_desc {
      display: none;
    }
  }

  .menu {
    ul {
      overflow: hidden;

      li {
        float: left;
        width: 33.33333%;
        text-align: center;
        border-right: 1px solid #dbdbdb;

        &:nth-child(3n) {
          border-radius: 0;
        }

        a {
          color: #fff;
          text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

          &:hover {
            box-shadow: none;
            background-color: rgba(36, 130, 174, 0.3);
          }

          i {
            display: none;
          }
        }
      }
    }
  }

  .square {
    a {
      width: 49%;

      &:nth-child(5) {
        display: none;
      }
    }
  }
}

/* 화면 너비 0 ~ 480px */
@media screen and (max-width: 480px) {
}

/* 화면 너비 0 ~ 320px */
@media screen and (max-width: 320px) {
  .square {
    a {
      width: 100%;
      margin: 0 0;
    }
  }
}
